@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.locate-info{
    border-radius: 20px;
    background-color: rgba(232, 232, 232, 0.6);
    width: 15%;
    padding: 20px;
    margin-left: 78%;
    margin-top: 10%;
}

.locate-info h2{
    text-align: left;
    font-size: 30px;
}


.title{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    background-color: rgba(194, 194, 194, 0.56);
    border-radius: 20px;
    margin-left: 30%;
    width: 400px;
    height: 140px;
    padding-left: 20px;
    margin-top: 100px;
}

.newgen{
    font-size: 50px;
    color: #f0f0f0;
}

.slogan{
    font-size: 25px;
    color: #F0F0F0;
    text-align: left;

}

.see-more{
    text-decoration: none;
    font-size: 18px;
    color: #F0F0F0;
    letter-spacing: 1px;
    background-color: #256f9a;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.see-more:hover {
    background-color: #3e3f94;
}

.h2-presentation{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.learn-more{
    display: block;
    border-radius: 10px;
    padding: 20px;
    margin: 0 15px 0 15px;
    line-height: 1.2;
}

.learn-more-title{
    font-family: 'Playfair Display', serif;
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-family: 'Lora', serif;*/
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.learn-more div{
    display: flex;
    justify-content: center;
    padding : 30px;
}

.learn-more div p{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

.learn-more div img{
    justify-content: center;
    border-radius: 10px;
    margin-left: 80px;
}

.h2-question{
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.question-parent{
    display: flex;
    flex-direction: row;
}

.question-child{
    display: flex;
    flex-direction: column;
}

.question{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
}

.question-symbole{
    display: block;
    margin-bottom: 20px;
    padding-top: 22px;
    font-size: 20px;
}

.question:last-child{
    display: block;
    margin-bottom: auto;
}