.classic{
    background: #fdfdfd;
    /*border: 2px solid #2B2D42;*/
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
    padding: 40px;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Inter, serif;
}

p{
    font-size: 18px;
    margin-bottom: 20px;
}