h1{
    margin-bottom: 40px;
    color: #000000;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px;
}

h2{
    color: #000000;
}

.last-city{
    border-radius: 20px;
    background-color: rgba(232, 232, 232, 0.6);
    width: 15%;
    padding: 20px;
    margin-left: 75%;
    margin-top: 10%;
}

.last-city h2{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
}

.see-more{
    text-decoration: none;
    font-size: 18px;
    color: #d1d1e0;
    letter-spacing: 1px;
    background-color: #256f9a;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.see-more:hover {
    background-color: #3e3f94;
}


.search-section{
    background-image: url('../../images/meteo/light/sky-background.webp');
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-div{
    background-color: rgba(255, 255, 255, 0.86);
    padding: 10px;
    border-radius: 10px;
}

.search-bar{
    border-radius: 10px;
    width: 500px;
    border:none;
    background: none;
    outline:none;
    color: #000000;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;

}

.search-form {
    display: flex;
    align-items: center;
    height: 50px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 100px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.search-input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    font-size: 30px;
    outline: none;
    background: transparent;
}

.search-button {
    padding: 9px 12px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-size: 31px;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: #ccc;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.meteoSearch{
    margin-top: 30px;
    background-image: url('../../images/meteo/blue-background.webp');
    padding : 20px;
    color: #000000;
    display: block;
    border-radius: 10px;
    align-items: center;
    height: 425px;
    width: 1300px;
}

.weatherDay{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.weatherDayItem{
    border-radius: 10px;
    background: rgba(90, 147, 211, 0.69);
    padding: 10px 10px 40px 0;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.temp{
    display: flex;

}

