a{
    color: #48aafb;
}

.meteoS{
    display: block;
    margin : 0 auto;
    background: #222222;
    /*border: 2px solid #2B2D42;*/
    border-radius: 5px;
    color: white;
}

p {
    color: #dddddd;
}

.meteo-in{
    display: flex;
}

.meteo-info{
    display: block;
    padding: 40px;
    border-left: 2px solid black;
    height: 300px;
    align-items: center;
    text-align: center;
}

.meteo-info-first{
    display: block;
    padding: 40px;
}
.meteo-info-first p,
.meteo-info p{
    margin-bottom : 70px;
    text-align: center;
    font-size: 27px !important;
}

.meteo{
    padding : 20px;
    color: #000000;
    display: block;
    margin: 25px auto auto auto;
    background-color: #96c2e1;
    border-radius: 40px;
}

.meteo p{
    font-size: 20px;
    color: #333333;
}


.map{
    background-color: rgba(127, 168, 191, 0.39);
    display: block;
    margin : 0 auto;
    border-radius: 5px;
}

.navin {
    position: fixed;
    left: 10%;
    transform: translateX(-50%);
    background: rgba(192, 192, 192, 0.8);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2); /* Ombre */
    list-style: none;
}

.navin li{
    color : green;
}

a{
    display:block;
    text-align: center;
    margin: auto;
}
section {
    width: 65%;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
}

.table-classique {
    border-collapse: collapse;
    width: 100%;
    font-family: serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}


.loc{
    padding : 20px;
    color: white;
    text-align: center;
    display: block;
    margin: 25px auto auto auto;
    background-color: #27272e;
    border-radius: 40px;
}

.loc p{
    font-size: 20px;
    color: #C4EA63FF;
}

:root {
    --primary-color: #2B2D42;
    --secondary-color: #8D99AE;
    --background-color: #27272e;
    --text-color: #27272e;
    --accent-color: #EF233C;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e2e3fe;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fff2f2;
    text-align: left;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 5px;
}

h2::after {
    position: absolute;
    content: "";
    top: 100%; /* se place sous le h2 */
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #999cec;
    border-radius: 2px;
}

h3{
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer::before {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: #555;
    margin: 0 auto 10px auto;
    opacity: 0.5;
}

.img-illustration{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.double-content-horizontal {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

.double-content-vertical {
    display: table-column;
}

figure{
    margin-top:2%;
    margin-bottom:2%;
    text-align: center;
}

.content-flex {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

.container {
    width: 85%;
    margin: auto;
    max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}


header {
    position: sticky;
    top:0;
    width: 100%;
    height: 90px;
    background-color: #4e4e57;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    display: flex;
    margin: 0 15px;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul li a:hover {
    color: #ffffff;
    padding: 5px;
    border-radius: 15px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}


.content {
    margin-top: 100px;
    padding: 20px;
}


.normalTab th, .normalTab td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color:white;
}

.normalTab th {
    background: #333;
    color: white;
}

.ipTab {
    font-size: 25px;
    margin: 0 auto;
    align-items: center;
    width: 50%;
}

.ipTab th, td {
    padding: 10px;
    text-align: center;
}
.weekly-meteo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.day-box {
    background-color: rgba(44, 47, 54, 0.59);
    color: #f0f0f0; 
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 150px;
    box-shadow: 0 2px 5px rgba(255,255,255,0.05);
}

.derniere-ville {
    background: #3e3f94;
    border-left: 5px solid #7fa8bf;
    padding: 1rem;
    margin: 1rem 0;
}

.href_derniere{
    display:inline-block;
    margin-top:0.5rem;
    padding:0.5rem 1rem;
    background: #3e3f94;
    color: #7fa8bf;
    border-radius:5px;
    text-decoration:none;
}

.graph{
    color: black; !important;
    position: relative;
    background-image : url(../images/fond_carreaux_sombre.png);
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}

.graphLegend{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

