.classic{
    background-color:#1F1F1F;
    /*border: 2px solid #2B2D42;*/
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
    padding: 40px;
    color: #E0E0E0;
}

.classic p{
    color: #E0E0E0;
    font-size: 18px;
    margin-bottom: 20px;
}

h1{
    color: #E0E0E0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Inter, serif;
}

h2{
    color: #E0E0E0;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}